div[class="g-b-p"] {
    background: #87ceed;
}
input[id="cb-g-p"] {
    opacity: 0%;
}
div[class="d-g-p"] {
    opacity: 0%;
}
input[id="cb-g-p"]:checked + label + div{
    opacity: 100%;
}
.g-p {
    font-size: 100px;
}

input[id="cb-b-p"] {
    opacity: 0%;
}
div[class="d-b-p"] {
    opacity: 0%;
}
input[id="cb-b-p"]:checked + label + div{
    opacity: 100%;
}
.b-p {
    font-size: 100px;
}
.m-b-p{
    bottom: 10px;
}
